:root {
  --page-color: #ffffff;
  --main-text: #2e2f42;
  --light-text: #f4f4fd;
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --action-color: #404bbf;
  --description-size: 16px;
  --description-height: 24px;
  --general-lh: 1.5;
  --ls-small: 0.02em;
  --ls-big: 0.04em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
