:root {
  --page-color: #ffffff;
  --main-text: #2e2f42;
  --light-text: #f4f4fd;
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --action-color: #404bbf;
  --description-size: 16px;
  --description-height: 24px;
  --general-lh: 1.5;
  --ls-small: 0.02em;
  --ls-big: 0.04em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contact-item > a:hover,
.contact-item > a:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacns-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* main section */
.portfolio-subtitle {
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}
.portfolio-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
   
    

}



.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: var(--general-lh);
  color: var(--accent-color);
  background-color: var(--light-text);
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  background-color: var(--action-color);
  color: var(--page-color);
}

.portfolio-list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
/** FOOTER */
.footer {
  background: var(--main-text);
}
.footer-desc {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.light {
    color: #f4f4fd;
}